@import "tailwindcss";

@theme  {
  --color-background: #000000;
  --color-primary: #FFE81F;
  --color-secondary: #5A5A5A;
  --color-accent: #00BFFF;
  --color-highlight: #FF4500;
  --color-muted: #1C1C1C
}
